.card {
    border: none;
    overflow: hidden;
}
.main_product_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    min-height: auto !important;
    width: 100%;
    overflow: hidden;
}
